<section class="clients">
  <div class="container">
    <h1 class="clients-title">Our Clients</h1>
    <ul class="clients-list">
      <li class="clients-item">
        <a class="clients-link" href=""
          ><img
            class="clients-img"
            src="../img/customer/clients/airbnb-logo.svg"
            alt="airbnb logo"
        /></a>
      </li>
      <li class="clients-item">
        <a class="clients-link" href=""
          ><img
            class="clients-img"
            src="../img/customer/clients/google-logo.svg"
            alt="google logo"
        /></a>
      </li>
      <li class="clients-item">
        <a class="clients-link" href=""
          ><img
            class="clients-img microsoft-logo"
            src="../img/customer/clients/microsoft-logo.svg"
            alt="microsoft logo"
        /></a>
      </li>
      <li class="clients-item">
        <a class="clients-link" href=""
          ><img
            class="clients-img"
            src="../img/customer/clients/fedex-logo.svg"
            alt="fedex logo"
        /></a>
      </li>
    </ul>
  </div>
</section>
