<section class="join">
  <div class="container">
    <h2 class="join-title">
      Join thousand of other who have already received offers
    </h2>
    <ul class="join-list">
      <li class="join-item">
        <div class="join-icon-wrap">
          <img
            class="join-icon"
            src="../img/customer/join/join-icon-red.png"
            alt="icon red"
            width="61"
            height="61"
          />
        </div>
        <h3 class="join-subtitle">Business</h3>
        <div class="join-text-wrap">
          <p class="join-text">Cash Flow</p>
          <p class="join-text">Asset Backed</p>
          <p class="join-text">Receivables Finance</p>
        </div>
        <p class="join-text-bottom">Find the best business product</p>
      </li>
      <li class="join-item">
        <div class="join-icon-wrap">
          <img
            class="join-icon"
            src="../img/customer/join/join-icon-blue.png"
            alt="icon blue"
            width="61"
            height="61"
          />
        </div>
        <h3 class="join-subtitle">Enterprise</h3>
        <div class="join-text-wrap">
          <p class="join-text">Site Acquisition</p>
          <p class="join-text">Bridge</p>
          <p class="join-text">Development Financing</p>
        </div>
        <p class="join-text-bottom">Find the best business product</p>
      </li>
    </ul>
  </div>
</section>
