<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">Description benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-item revers">
        <img
          class="benefits-image"
          src="./img/benefits/management-img.svg"
          alt="management"
          width="349"
          height="306"
        />
        <div class="benefits-text-box text-box-top">
          <p class="benefits-text-top">Effortless Validation for</p>
          <h3 class="benefits-subtitle">Management</h3>
          <p class="benefits-text">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul class="benefits-sublist">
            <li class="benefits-sublist-item">
              <h4 class="benefits-subtitle-smal">Accessory makers</h4>
              <p class="benefits-text">
                While most people enjoy casino gambling, sports betting, lottery
                and bingo playing for the fun
              </p>
            </li>
            <li>
              <h4 class="benefits-subtitle-smal">Alterationists</h4>
              <p class="benefits-text">
                If you are looking for a new way to promote your business that
                won’t cost you more money,
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="benefits-item">
        <img
          class="benefits-image"
          src="./img/benefits/support-img.svg"
          alt="laptop"
          width="349"
          height="306"
        />
        <div class="benefits-text-box">
          <p class="benefits-text-top">Easier decision making for</p>
          <h3 class="benefits-subtitle">Customer Support</h3>
          <p class="benefits-text">
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul class="benefits-sublist benefits-sublist-center">
            <li class="benefits-sublist-center-item">
              <div class="benefits-icon-box yellow">
                <svg class="benefits-icon" width="16" height="12">
                  <use href="./img/icons.svg#icon-path"></use>
                </svg>
              </div>
              <p class="benefits-text">
                Never worry about overpaying for your energy again.
              </p>
            </li>
            <li class="benefits-sublist-center-item">
              <div class="benefits-icon-box red">
                <svg class="benefits-icon" width="16" height="12">
                  <use href="./img/icons.svg#icon-path"></use>
                </svg>
              </div>
              <p class="benefits-text">
                We will only switch you to energy companies that we trust and
                will treat you right
              </p>
            </li>
            <li class="benefits-sublist-center-item">
              <div class="benefits-icon-box blue">
                <svg class="benefits-icon" width="16" height="12">
                  <use href="./img/icons.svg#icon-path"></use>
                </svg>
              </div>
              <p class="benefits-text">
                We track the markets daily and know where the savings are.
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="benefits-item revers">
        <img
          class="benefits-image"
          src="./img/benefits/collaboration-img.svg"
          alt="collaboration"
          width="349"
          height="306"
        />
        <div class="benefits-text-box">
          <p class="benefits-text-top">Optimisation for</p>
          <h3 class="benefits-subtitle">Collaborative</h3>
          <p class="benefits-text">
            Few would argue that, despite the advancements of feminism over the
            past three decades, women still face a double standard when it comes
            to their behavior.
          </p>
          <ul class="benefits-sublist">
            <li class="benefits-sublist-item">
              <h4 class="benefits-subtitle-smal">Accessory makers</h4>
              <p class="benefits-text">
                While most people enjoy casino gambling, sports betting, lottery
                and bingo playing for the fun
              </p>
            </li>
            <li>
              <h4 class="benefits-subtitle-smal">Alterationists</h4>
              <p class="benefits-text">
                If you are looking for a new way to promote your business that
                won’t cost you more money,
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
