<footer class="footer">
  <div class="container">
    <div class="footer-top-box">
      <div>
        <p class="footer-top-box-text">
          Join 100 Compannies who boost their business with Product
        </p>
        <button class="footer-top-box-btn">Get This</button>
      </div>
      <img
        class="footer-top-box-image"
        src="./img/screen.png"
        srcset="./img/screen.png 1x, ./img/screen@2x.png 2x"
        alt="screen"
        width="351"
        height="331"
      />
    </div>
    <div class="footer-content-box">
      <div class="footer-soc-menu">
        <a class="footer-soc-logo-link" href="./index.html"
          ><img
            class="footer-logo"
            src="./img/logo.svg"
            alt="logo"
            width="40"
            height="36"
          />Product</a
        >
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              target="_blank"
              aria-label="instagram-link"
              href=""
              ><svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              target="_blank"
              aria-label="facebook-link"
              href=""
              ><svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              target="_blank"
              aria-label="twitter-link"
              href=""
              ><svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-twitter"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <ul class="footer-menu">
        <li class="footer-item">
          <ul class="footer-menu-left">
            <li class="footer-menu-left-item">
              <h3 class="footer-menu-subtitle">Resource</h3>
            </li>
            <li class="footer-menu-left-item">
              <a class="footer-menu-link" href="">About Us</a>
            </li>
            <li class="footer-menu-left-item">
              <a class="footer-menu-link" href="">Blog</a>
            </li>
            <li class="footer-menu-left-item">
              <a class="footer-menu-link" href="">Contact</a>
            </li>
            <li class="footer-menu-left-item">
              <a class="footer-menu-link" href="">FAQ</a>
            </li>
          </ul>
        </li>
        <li class="footer-item">
          <ul class="footer-menu-right">
            <li class="footer-menu-right-item">
              <h3 class="footer-menu-subtitle">Legal Stuff</h3>
            </li>
            <li class="footer-menu-right-item">
              <a class="footer-menu-link" href="">Disclaimer</a>
            </li>
            <li class="footer-menu-right-item">
              <a class="footer-menu-link" href="">Financing</a>
            </li>
            <li class="footer-menu-right-item">
              <a class="footer-menu-link" href="">Privacy Policy</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="footer-form-box">
        <p class="footer-form-subtitle">
          knowing you're always on the best energy deal.
        </p>
        <form class="footer-form">
          <label class="footer-label" for="user-tel"
            ><input
              class="footer-input"
              id="user-tel"
              name="user-tel"
              type="tel"
              placeholder="Enter your phone number"
              required /><svg class="footer-input-icon" width="18" height="28">
              <use href="./img/icons.svg#icon-mobile-screen"></use></svg
          ></label>
          <button class="footer-form-btn" type="submit">Sign up Now</button>
        </form>
      </div>
    </div>
    <p class="footer-text-bottom-desk">
      Made With Love By Figmaland All Right Reserved
    </p>
    <p class="footer-text-bottom-mob">
      Made With Love By Product All Right Reserved
    </p>
  </div>
</footer>
