<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">What Clients Say</h2>
    <p class="reviews-text">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <svg class="reviews-icon" width="106" height="18">
          <use href="./img/icons.svg#icon-stars"></use>
        </svg>
        <p class="reviews-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="reviews-user-box">
          <img
            class="reviews-image"
            src="./img/reviews/avatar-say-1.png"
            srcset="
              ./img/reviews/avatar-say-1.png    1x,
              ./img/reviews/avatar-say-1@2x.png 2x
            "
            alt="woman"
            width="50"
            height="50"
          />
          <div class="reviews-user-text-box">
            <a class="reviews-item-link" href="">Wahid Ari</a>
            <p class="reviews-item-subtext">Designer</p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <svg class="reviews-icon" width="106" height="18">
          <use href="./img/icons.svg#icon-stars"></use>
        </svg>
        <p class="reviews-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="reviews-user-box">
          <img
            class="reviews-image"
            src="./img/reviews/avatar-say-2.png"
            srcset="
              ./img/reviews/avatar-say-2.png    1x,
              ./img/reviews/avatar-say-2@2x.png 2x
            "
            alt="man 1"
            width="50"
            height="50"
          />
          <div class="reviews-user-text-box">
            <a class="reviews-item-link" href="">Wahid Ari</a>
            <p class="reviews-item-subtext">Designer</p>
          </div>
        </div>
      </li>
      <li class="reviews-item">
        <svg class="reviews-icon" width="106" height="18">
          <use href="./img/icons.svg#icon-stars"></use>
        </svg>
        <p class="reviews-item-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="reviews-user-box">
          <img
            class="reviews-image"
            src="./img/reviews/avatar-say-3.png"
            srcset="
              ./img/reviews/avatar-say-3.png    1x,
              ./img/reviews/avatar-say-3@2x.png 2x
            "
            alt="man 2"
            width="50"
            height="50"
          />
          <div class="reviews-user-text-box">
            <a class="reviews-item-link" href="">Wahid Ari</a>
            <p class="reviews-item-subtext">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
