.feature {
  padding-top: 16px;
  padding-bottom: 38px;
}

.feature-title {
  max-width: 466px;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.feature-item {
}

.feature-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  width: 50px;
  height: 50px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* .feature-item:nth-child(1) .feature-icon-box {
  background-color: #02897a;
} */

.feature-icon-box.green {
  background-color: #02897a;
}

.feature-icon-box.blue {
  background-color: #4d8dff;
}

.feature-icon-box.violet {
  background-color: #740a76;
}

.feature-icon-box.red {
  background-color: #f03e3d;
}

.feature-icon {
  fill: #ffffff;
}

.feature-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 8px;
  text-align: center;
}

.feature-text {
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  text-align: center;
  margin: 0 auto;
  max-width: 240px;
}

.feature-btn {
  display: block;
  font-family: inherit;
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  text-transform: uppercase;
  border-color: transparent;
  background-color: #02897a;
  transition: transform 250ms ease;
}

.feature-btn:hover,
.feature-btn:focus {
  transform: scale(1.2);
}

@media screen and (min-width: 1150px) {
  .feature {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .feature-list {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
  }

  .feature-item {
    flex-basis: calc((100% - 90px) / 4);
    padding-bottom: 26px;
  }

  .feature-icon-box {
    width: 54px;
    height: 54px;
    margin-bottom: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .feature-subtitle {
    margin-bottom: 13px;
    text-align: left;
  }

  .feature-text {
    text-align: left;
    max-width: 255px;
    margin: 0;
  }
}
