.strategies {
  padding-top: 50px;
  padding-bottom: 31px;
}

.strategies-title {
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 8px;
}

.strategies-text {
  max-width: 415px;
  font-weight: 500;
  line-height: 1.63;
  color: #22343d;
  text-align: center;
  margin-bottom: 40px;
}

.strategies-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.strategies-item {
  border-radius: 8px;
  overflow: hidden;
}

.strategies-image {
}

.strategies-text-box {
  padding: 24px 0 40px;
}

.strategies-item-text {
  line-height: 1.75;
  color: #22343d;
  margin-bottom: 12px;
}

.bolt-text {
  font-weight: 700;
}

.strategiesitem-subtitle {
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  transition: color 250ms ease;
}

.strategies-item:hover .strategiesitem-subtitle {
  color: #02897a;
}

@media screen and (min-width: 1150px) {
  .strategies {
    padding-bottom: 100px;
  }

  .strategies-title {
    text-align: left;
    margin-bottom: 10px;
  }

  .strategies-text {
    text-align: left;
  }

  .strategies-list {
    flex-direction: row;
    gap: 30px;
  }

  .strategies-item {
    border: 1px solid #dedede;
    flex-basis: calc((100% - 60px) / 3);
  }

  .strategies-text-box {
    padding: 24px 27px 40px;
  }
}
