<section class="effect">
  <div class="container">
    <h2 class="effect-title">
      Product is being used with great effects alongside:
    </h2>
    <div class="effect-content-box">
      <img
        class="effect-img-mob"
        src="./img/pricing/people.svg"
        alt="poeple"
        width="352"
        height="288"
      />
      <img
        class="effect-img-desk"
        src="./img/pricing/devices.svg"
        alt="devices"
        width="528"
        height="392"
      />
      <ul class="effect-list">
        <li class="effect-item">
          <div class="effect-subtitle-box">
            <div class="effect-icon-box">
              <svg class="effect-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-effect-icon-1"></use>
              </svg>
            </div>
            <h3 class="effect-subtitle">Enterpreneur</h3>
          </div>
          <p class="effect-text">
            Product is a great way to help medium and samall enterprise owners
            achieve their goals
          </p>
        </li>
        <li class="effect-item">
          <div class="effect-subtitle-box">
            <div class="effect-icon-box">
              <svg class="effect-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-effect-icon-2"></use>
              </svg>
            </div>
            <h3 class="effect-subtitle">Accountants</h3>
          </div>
          <p class="effect-text">
            Whether you are working on contract with clients, or on other key
            accounting documents, Product is for you
          </p>
        </li>
        <li class="effect-item">
          <div class="effect-subtitle-box">
            <div class="effect-icon-box">
              <svg class="effect-icon" width="24" height="24">
                <use href="./img/icons.svg#icon-effect-icon-3"></use>
              </svg>
            </div>
            <h3 class="effect-subtitle">Universities</h3>
          </div>
          <p class="effect-text">
            Organize university projects and have documents easily graded online
            with Product
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
