<section class="price">
  <div class="container">
    <p class="price-top-text">PRICING</p>
    <h2 class="price-title">Let’s get some real work done here.</h2>
    <p class="price-text">
      Prodict is your perfect solution for working. Get started now for free
    </p>
    <ul class="price-list">
      <li class="price-item">
        <h3 class="price-item-subtitle price-white-text-hover">Free</h3>
        <p class="price-item-text-top price-white-text-hover">
          Brief price description
        </p>
        <div class="price-item-text-center">
          <span class="price-item-big-number price-white-text-hover">0</span>
          <div class="price-item-dollar-box">
            <span class="price-item-dollar price-white-text-hover">$</span>
            Per / month
          </div>
        </div>
        <p class="price-item-text-bottom price-white-text-hover">
          Only 2 Operators
        </p>
        <p class="price-item-text-bottom price-white-text-hover">
          Notifications
        </p>
        <p class="price-item-text-bottom price-white-text-hover">
          Landing Pages
        </p>
        <button class="price-item-btn" type="button">Order Now</button>
      </li>
      <li class="price-item">
        <h3 class="price-item-subtitle price-white-text-hover">Standard</h3>
        <p class="price-item-text-top price-white-text-hover">
          Brief price description
        </p>
        <div class="price-item-text-center">
          <span class="price-item-big-number price-white-text-hover">5</span>
          <div class="price-item-dollar-box">
            <span class="price-item-dollar price-white-text-hover">$</span>
            Per / month
          </div>
        </div>
        <p class="price-item-text-bottom price-white-text-hover">
          5+ Operators
        </p>
        <p class="price-item-text-bottom price-white-text-hover">
          Notifications
        </p>
        <p class="price-item-text-bottom price-white-text-hover">
          Landing Pages
        </p>
        <button class="price-item-btn" type="button">Order Now</button>
      </li>
      <li class="price-item">
        <h3 class="price-item-subtitle price-white-text-hover">Premium</h3>
        <p class="price-item-text-top price-white-text-hover">
          Brief price description
        </p>
        <div class="price-item-text-center">
          <span class="price-item-big-number price-white-text-hover">10</span>
          <div class="price-item-dollar-box">
            <span class="price-item-dollar price-white-text-hover">$</span>
            Per / month
          </div>
        </div>
        <p class="price-item-text-bottom price-white-text-hover">
          10+ Operators
        </p>
        <p class="price-item-text-bottom price-white-text-hover">
          Notifications
        </p>
        <p class="price-item-text-bottom price-white-text-hover">
          Landing Pages
        </p>
        <button class="price-item-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
